<!DOCTYPE html>
<html>
<head>
  <title>Password Exists</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='archive.css') }}">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
</head>
<body>
  <h1>Assignment Archiver</h1>
  <p>This website puts your schools assignment in a secure archive so you can view them later. We also analyze these questions to give you a report based on several metrics comparing your county to others across the globe.</p>
  <div class="container">
      <input class="password-input" name="question" autofocus id="question" placeholder="Enter Assignment Question">
  </div>
  <script>
    var socket = io.connect(location.origin);
  
    socket.on('connect', function() {
        var password = "Your Existing Password Here";  // Replace with your logic to get the current password
        socket.emit('join', { "password": password });
    });
  
    var questionInput = document.getElementById("question");
    questionInput.addEventListener("change", function() {
      var password = "Your Existing Password Here";
      var question = questionInput.value;
      socket.emit('new_question', { "password": password, "question": question });
    });
  </script>
</body>
</html>
